.btn-info{
    font-size:75px;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    border-style:dashed;
    animation-name:example;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow:1px 1px 38px blue;}
}